@inherits LayoutComponentBase

<header>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Gestão de Controle de Qualidade</span>
        </div>
    </nav>
</header>
<main class="flex-grow-1">
    @Body
</main>